[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
pylint = "*"
flake8 = "*"

[packages]
flask = "*"
pytest = "*"
flask-wtf = "*"
requests = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
coverage = "*"
psycopg2 = "*"
passlib = "*"

[requires]
python_version = "3.6"
